[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CvmortalityMult"]
	path = CvmortalityMult
	url = https://github.com/davidatance/cvmortalitymult
